on:
  push:
    tags:
      - v*
  workflow_dispatch:

permissions:
  # To upload archives as GitHub Releases
  contents: write
  # To push Docker images to GitHub
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v6
        with:
          go-version: 1.24.x
      - uses: actions/checkout@v6
        with:
          # All history, required for goreleaser
          fetch-depth: 0
      - # For TagBody, TagSubject or TagContents fields in goreleaser's templates
        run: git fetch --force --tags
      - run: docker login ghcr.io -u docker --password-stdin
      - uses: goreleaser/goreleaser-action@v6
        with:
          version: v1.9.2
          args: release --rm-dist
